{
    debug
}

{$DOMAIN}:80 {
    root * /app/public

    file_server

    php_fastcgi php-fpm:9000 {
        resolve_root_symlink
    }

    @phpFile {
        path *.php*
    }

    error @phpFile "Not found" 404
}